@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<h1 class="display-4">TestJJ</h1>
				</td>
				<td>
					<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
				</td>
			</tr>
		</tbody>
    </table>
</div>
